<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batteryLimitPercent</key>
	<integer>10</integer>
	<key>bluetoothSleepRestorePending</key>
	<false/>
	<key>clipboardAutoClearDelaySeconds</key>
	<integer>20</integer>
	<key>clipboardHistoryEnabled</key>
	<false/>
	<key>clipboardHistoryLimit</key>
	<integer>50</integer>
	<key>clipboardHistoryShortcut</key>
	<string>option:8</string>
	<key>defaultDurationMinutes</key>
	<integer>0</integer>
	<key>dockClickMinimize</key>
	<true/>
	<key>dockPreviewEnabled</key>
	<true/>
	<key>featureAvailable.appUpdates</key>
	<false/>
	<key>featureAvailable.autoQuit</key>
	<true/>
	<key>featureAvailable.bluetoothSleep</key>
	<true/>
	<key>featureAvailable.brightness</key>
	<true/>
	<key>featureAvailable.cameraPreview</key>
	<false/>
	<key>featureAvailable.cleaner</key>
	<true/>
	<key>featureAvailable.cleaningMode</key>
	<false/>
	<key>featureAvailable.clipboardHistory</key>
	<false/>
	<key>featureAvailable.colorPicker</key>
	<false/>
	<key>featureAvailable.commandBar</key>
	<false/>
	<key>featureAvailable.diskImageInstaller</key>
	<false/>
	<key>featureAvailable.dockClick</key>
	<false/>
	<key>featureAvailable.dockPreview</key>
	<false/>
	<key>featureAvailable.extraBrightness</key>
	<false/>
	<key>featureAvailable.fanControl</key>
	<false/>
	<key>featureAvailable.finderCutPaste</key>
	<true/>
	<key>featureAvailable.finderRename</key>
	<true/>
	<key>featureAvailable.focusFollowsMouse</key>
	<false/>
	<key>featureAvailable.homebrew</key>
	<false/>
	<key>featureAvailable.keepAwake</key>
	<false/>
	<key>featureAvailable.keyboardDebounce</key>
	<false/>
	<key>featureAvailable.killProcess</key>
	<true/>
	<key>featureAvailable.mediaTools</key>
	<false/>
	<key>featureAvailable.micMute</key>
	<false/>
	<key>featureAvailable.middleClick</key>
	<false/>
	<key>featureAvailable.mixer</key>
	<false/>
	<key>featureAvailable.monitorCPU</key>
	<false/>
	<key>featureAvailable.monitorDisk</key>
	<false/>
	<key>featureAvailable.monitorGPU</key>
	<false/>
	<key>featureAvailable.monitorMemory</key>
	<false/>
	<key>featureAvailable.monitorNetwork</key>
	<false/>
	<key>featureAvailable.monitorPower</key>
	<false/>
	<key>featureAvailable.mouseAcceleration</key>
	<false/>
	<key>featureAvailable.mouseButtonShortcuts</key>
	<false/>
	<key>featureAvailable.mouseClickDebounce</key>
	<false/>
	<key>featureAvailable.mouseNavigation</key>
	<false/>
	<key>featureAvailable.musicBlock</key>
	<true/>
	<key>featureAvailable.pastePlain</key>
	<false/>
	<key>featureAvailable.quickLauncher</key>
	<false/>
	<key>featureAvailable.quickToggles</key>
	<false/>
	<key>featureAvailable.quitWindowProtection</key>
	<true/>
	<key>featureAvailable.radialMenu</key>
	<false/>
	<key>featureAvailable.scratchpad</key>
	<false/>
	<key>featureAvailable.screenOCR</key>
	<false/>
	<key>featureAvailable.screenRecorder</key>
	<false/>
	<key>featureAvailable.screenshot</key>
	<false/>
	<key>featureAvailable.scrollInverter</key>
	<false/>
	<key>featureAvailable.shelf</key>
	<false/>
	<key>featureAvailable.smoothScroll</key>
	<false/>
	<key>featureAvailable.soundOutputSwitcher</key>
	<false/>
	<key>featureAvailable.superKey</key>
	<false/>
	<key>featureAvailable.switcher</key>
	<false/>
	<key>featureAvailable.textSnippets</key>
	<false/>
	<key>featureAvailable.uninstaller</key>
	<true/>
	<key>featureAvailable.urlCleaner</key>
	<false/>
	<key>featureAvailable.windowLayout</key>
	<false/>
	<key>featureAvailable.windowMaximizer</key>
	<false/>
	<key>featuresOnboardingVersion</key>
	<integer>4</integer>
	<key>hasOnboarded</key>
	<true/>
	<key>keepAwakeActiveIcon</key>
	<string>vorssaint</string>
	<key>keepAwakeIconTint</key>
	<string>orange</string>
	<key>keepAwakeMouseJiggleIntervalMinutes</key>
	<integer>5</integer>
	<key>killProcessSortAscending</key>
	<false/>
	<key>killProcessSortBy</key>
	<string>memory</string>
	<key>lastUpdateIntroVersion</key>
	<string>3.3.5</string>
	<key>liquidGlassEnabled</key>
	<true/>
	<key>monitorPwrTemperature</key>
	<true/>
	<key>onboardingStep</key>
	<integer>0</integer>
	<key>orphanedCaptureShortcutMigrated</key>
	<true/>
	<key>panelCollapsedResetVersion</key>
	<string>2.15.1</string>
	<key>panelUtilityWindowLayout</key>
	<false/>
	<key>quickLauncherShortcutEnabled</key>
	<false/>
	<key>restoredScreenCaptureShortcutsMigrated</key>
	<true/>
	<key>scrollInverterHorizontalEnabled</key>
	<false/>
	<key>settingsWindowHeight</key>
	<real>839</real>
	<key>settingsWindowWidth</key>
	<real>772</real>
	<key>shelfItems</key>
	<data>
	W10=
	</data>
	<key>supportUpdateIntroVersion</key>
	<string>3.3.2</string>
	<key>switcherEnabled</key>
	<true/>
	<key>unifiedScreenCaptureShortcutMigrated</key>
	<true/>
	<key>updateHighlightsSeenVersion</key>
	<string>3.3.3</string>
	<key>windowGestureEnabled</key>
	<false/>
	<key>windowMaximizeEnabled</key>
	<true/>
</dict>
</plist>
